@import url("style/header.css");
:root{
    --amarelo: ; --fundo-azul: #00e000; 
    --lilas: #3e3eff; --fonte-projeto:"dosis";
}
body{
    background-color: var(--vermelho);
     margin: 0; font-family: font-family: 'Rye', cursive;
}